@include b('module-accordion')
{
	@include e("trigger")
	{
		display: block;
		width: 100%;
		text-decoration: none;
		color: color(black);
		background: #F6F8FA;
		position: relative;
		padding-right: 200px;
		padding-left: 93px;
		padding-top: 22px;
		padding-bottom: 22px;
		@include transition(all, 500ms);

		@include tablet-landscape
		{
			padding-right: 100px;
		}

		@include tablet-portrait
		{
			padding-left: 20px;
			padding-top: 12px;
			padding-bottom: 12px;
			padding-right: 60px;
		}

		@include mobile
		{
			padding-left: 15px;
			padding-top: 7px;
			padding-bottom: 7px;
			padding-right: 40px;
		}

		&:hover
		{
			background: #eaeaea;
		}

		h2
		{
			color: #212721;
			@include transition(all, 500ms);
			@include font-size($h3-font-sizes);
		}

		svg
		{
			position: absolute;
			right: 120px;
			top: 50%;
			transform: translateY(-50%);
			pointer-events: none;
			@include transition(all, 500ms);

			@include tablet-landscape
			{
				right: 33px;
			}

			@include tablet-portrait
			{
				right: 23px;
			}

			@include mobile
			{
				width: 20px;
				right: 16px;
			}

			path
			{
				@include transition(all, 500ms);
			}
		}
	}

	@include e('content-wrapper')
	{
		padding-left: 93px;
		padding-top: 41px;
		padding-bottom: 87px;
		display: none;

		@include tablet-portrait
		{
			padding-left: 20px;
		}

		@include mobile
		{
			padding-left: 15px;
			padding-top: 20px;
			padding-bottom: 40px;
		}
	}

	.button
	{
		margin-top: 44px;

		@include mobile
		{
			margin-top: 30px;
		}
	}

	@include e("content")
	{
		max-width: 618px;
	}

	@include e('item')
	{
		margin-bottom: 6px;

		&:last-child
		{
			margin-bottom: 0;
		}

		&.active
		{
			.module-accordion__trigger
			{
				background: #D9A87B;

				h2
				{
					color: color(white);
				}

				svg
				{
					transform: translateY(-50%) rotateX(180deg);

					path
					{
						fill: #212721;
					}
				}
			}
		}
	}
}
