@include b('post-module')
{
	margin-bottom: 65px;

	@include mobile
	{
		margin-bottom: 40px;
	}

	&:last-child
	{
		margin-bottom: 0;
	}
}

@include b('post-module-content')
{
	@include e('inner')
	{
		margin: 0 auto;
	}
}

@include b('post-module-image')
{
	@include e('inner')
	{
		max-width: 897px;
		margin: 0 auto;
	}

	@include e('caption')
	{
		font-size: $body-font;
		font-size: 14px;
		margin-top: 8px;
	}
}

@include b('post-module-slider')
{
	@include e('inner')
	{
		max-width: 711px;
		margin: 0 auto;
		position: relative;
	}

	@include e('caption')
	{
		font-size: $body-font;
		font-size: 14px;
		margin-top: 8px;
	}
}

@include b('post-module-quote')
{
	@include e('inner')
	{
		max-width: 711px;
		margin: 0 auto;
		position: relative;

		@include tablet-landscape
		{
			padding-left: 80px;
		}

		@include mobile
		{
			padding-left: 55px;
		}

		&::after
		{
			content: '';
			background: url(../images/quote.svg) no-repeat center;
			background-size: contain;
			width: 45px;
			height: 24px;
			display: block;
			position: absolute;
			left: -93px;
			top: 10px;

			@include tablet-landscape
			{
				left: 0;
			}

			@include mobile
			{
				width: 30px;
			}
		}
	}

	@include e('quote')
	{
		@include font-size($h3-font-sizes);
		font-family: $body-font;
	}

	@include e('attribution')
	{
		font-size: $body-font;
		font-size: 14px;
		margin-top: 8px;
	}
}
