@include b('module-cards')
{
	@include e('title')
	{
		display: flex;
		flex-direction: column;
		align-items: center;

		h2
		{
			width: 100%;
			text-align: center;
			margin-bottom: 38px;
			color: color(black);

			@include mobile
			{
				margin-bottom: 30px;
			}
		}
	}

	@include e("description")
	{
		width: 100%;
		max-width: 711px;
		margin-bottom: 59px;

		@include mobile
		{
			margin-bottom: 20px;
		}
	}

	@include e('slider-wrapper')
	{
		display: none;
		width: 100%;
		transform: translateX(-20px);

		@include mobile
		{
			display: block;
		}

		.owl-stage
		{
			padding: 20px 0;
		}

		.owl-stage-outer
		{
			width: calc(100% + 40px);
			padding-left: 20px;
		}
	}

	@include e('cards')
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 100%;

		@include mobile
		{
			display: none;
		}

		&.cards-2
		{
			.module-cards__card
			{
				width: calc(50% - 17px);
			}
		}

		&.cards-3
		{
			.module-cards__card
			{
				width: calc(33.33% - 21px);

				@include tablet-portrait
				{
					width: calc(33.33% - 5px);
				}
			}

			.module-cards__card-inner
			{
				@include tablet-portrait
				{
					padding: 22px 17px 40px;
				}
			}

			.module-cards__card-description
			{
				@include tablet-portrait
				{
					font-size: 20px;
				}
			}
		}

		&.cards-4
		{
			.module-cards__card
			{
				width: calc(25% - 21px);

				@media only screen and (max-width: 1100px)
				{
					width: calc(50% - 17px);

					&:nth-child(1),
					&:nth-child(2)
					{
						margin-bottom: 33px;
					}
				}
			}
		}
	}

	@include e('card')
	{
		background: color(white);
		border-radius: 24px;
		@include transition(all, 700ms);
		box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16);

		@include mobile
		{
			width: 100%;
		}

		&:hover
		{
			transform: translateY(-10px);
			box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.16);

			@include mobile
			{
				transform: none;
				box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16);
			}
		}
	}

	@include e('card-inner')
	{
		padding: 22px 29px 40px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	@include e('card-title')
	{
		font-size: 20px;
	}

	@include e("card-price")
	{
		font-size: 84px;
		color: #3E3E3E;
		font-family: $card-font;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 6px;
	}

	@include e('card-description')
	{
		font-size: 25px;
		color: color(maroon);
		margin-bottom: 26px;
		line-height: 1.4;
	}

	.button
	{
		margin-bottom: 30px;
	}

	@include e('card-footer')
	{
		font-family: $body-font;
	}

	@include e("footer")
	{
		max-width: 560px;
		margin: 0 auto;
		margin-top: 60px;

		@include mobile
		{
			margin-top: 30px;
		}
	}
}
