@include b('module-image-text')
{
	@include e("inner")
	{
		max-width: 711px;
		margin: 0 auto;
	}

	@include e('content-wrapper')
	{
		width: 100%;
	}

	@include m('narrow-image')
	{
		@include e('content-wrapper')
		{
			width: 52%;

			@include tablet-portrait
			{
				width: 100%;
			}
		}
	}

	@include m('wide-image')
	{
		@include e('content-wrapper')
		{
			width: 34%;

			@include tablet-portrait
			{
				width: 100%;
			}
		}

		@include e('image')
		{
			width: 52%;

			@include tablet-portrait
			{
				width: 80%;
			}
		}
	}

	@include m('image-right')
	{
		@include e("inner")
		{
			flex-direction: row-reverse;

			@include tablet-portrait
			{
				flex-direction: column;
			}
		}
	}

	@include e("inner")
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;

		@include tablet-portrait
		{
			flex-direction: column;
		}
	}

	@include e('image')
	{
		width: 34%;

		@include tablet-portrait
		{
			width: 80%;
			margin-bottom: 40px;
		}
	}

	@include e("image-wrapper")
	{
		border-radius: 100%;
		overflow: hidden;
		position: relative;

		&::after
		{
			content: '';
			padding-bottom: 100%;
			display: block;
		}

		img
		{
			object-fit: cover;
			width: 100%;
			height: 100%;
			position: absolute;
			object-position: center;
		}
	}

	.button
	{
		margin-top: 40px;

		@include mobile
		{
			margin-top: 20px;
		}
	}
}
