@include b('section-image')
{
	padding: 0;
	background: color(white);

	img
	{
		display: block;
		width: 100%;
	}
}

@include b('section-image-slider')
{
	padding: 0;
	background: #FAF3EC;

	@include e('slider')
	{
		padding-bottom: 60px;

		@include mobile
		{
			padding-bottom: 40px;
		}
	}

	.owl-dots
	{
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 21px;

		@include mobile
		{
			bottom: 15px;
		}

		.owl-dot
		{
			width: 20px;
			height: 20px;
			background: color(blue);
			border-radius: 100%;
			display: block;
			margin: 0 11px;
			@include transition(all, 500ms);

			@include mobile
			{
				width: 10px;
				height: 10px;
				margin: 0 8px;
			}

			&.active
			{
				background: color(white);
			}
		}
	}

	img
	{
		display: block;
		width: 100%;
	}
}
