.single-post
{
	@include b('section-posts')
	{
		@include e('posts')
		{
			margin-bottom: 0;
		}
	}
}

@include b('section-posts')
{
	@include e('inner')
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		max-width: 982px;
	}

	h2
	{
		color: #212721;
		@include font-size($h1-font-sizes);
		margin-bottom: 60px;

		@include mobile
		{
			margin-bottom: 30px;
		}
	}

	@include e('posts')
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-bottom: 60px;
		width: 100%;
	}

	.card-related
	{
		width: 24%;

		@include tablet-portrait
		{
			width: 30%;
		}

		@include mobile
		{
			width: 100%;
			margin-bottom: 40px;

			&:last-child
			{
				margin-bottom: 0;
			}
		}
	}
}
