@include b('module-logos')
{
	@include e('title')
	{
		text-align: center;
		margin: 0 auto;
		max-width: 711px;
		display: flex;
		flex-direction: column;
		align-items: center;

		h2
		{
			color: color(black);
			margin-bottom: 31px;
		}
	}

	@include e('description')
	{
		margin-bottom: 75px;

		@include mobile
		{
			margin-bottom: 30px;
		}
	}

	@include e("logos")
	{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		@include mobile
		{
			justify-content: space-between;
		}
	}

	@include e('logo')
	{
		position: relative;
		width: 190px;
		height: 110px;
		margin: 0 15px;
		margin-bottom: 30px;
		@include transition(all, 500ms);

		@include mobile
		{
			width: calc(50% - 15px);
			margin: 0;
			margin-bottom: 30px;
		}

		&:hover
		{
			opacity: 0.7;
		}

		img
		{
			object-fit: contain;
			position: absolute;
			width: 100%;
			height: 100%;
			object-position: center;
		}
	}
}
