@include b('section-newsletter')
{
	background: color(white);

	@include e('image-element')
	{
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		object-position: center;
		top: 0;
		left: 0;
	}

	.inner-wrapper
	{
		position: relative;
		z-index: 2;
	}

	h2
	{
		color: #212721;
		text-align: center;
		max-width: 600px;
		margin: 0 auto;

		@include tablet-portrait
		{
			max-width: 490px;
		}
	}

	form
	{
		max-width: 525px;
		margin: 0 auto;
		margin-top: 35px;
		display: flex;
		flex-direction: column;
		align-items: center;

		input
		{
			background: none;
			border: solid 1px #D3D4D3;
		}
	}
}
