@include b('risk-quiz_wrapper')
{
	.gf_progressbar_wrapper
	{
		display: flex;
		justify-content: space-between;
		font-style: italic;
	}

	.gform_page_footer
	{
		display: flex;
		justify-content: space-evenly;

		@include mobile
		{
			display: table;
		}

		.button
		{
			max-width: 50%;
			width: 300px;
			height: 57px;
			padding: 13px 30px;

			&:hover
			{
				background: #82412C;
			}
		}

		.gform_next_button,
		.gform_button
		{
			background: #C88242;
			color: #ffffff;
		}

		.gform_previous_button
		{
			border: solid 1px #82412C;
			color: #82412C;
			transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

			&:hover
			{
				color: #fff;
			}
		}
	}

	.gfield_label
	{
		font-size: 1.1em;
		font-weight: bold;
	}

	fieldset
	{
		padding: 1em;
	}

	.gfield_description
	{
		margin-top: 1em;
		font-style: italic;
	}

	.gfield_radio > div
	{
		margin-bottom: 0.25em;
	}

	[type="radio"]:not(:checked) + label::before,
	[type="radio"] + label::before
	{
		top: 4px;
	}

	[type="radio"]:checked + label::after,
	[type="radio"] + label::after
	{
		top: 4px;
		background: #c88242ba;
		border-color: #c88242;
	}

	h2
	{
		font-size: 24px;
		margin-top: 32px;
		line-height: 36px;
	}

	input[type="text"],
	select
	{
		border: solid 1px #dbe4e9;
	}

	select
	{
		border-radius: 5px;
	}

	select::after
	{
		content: '^';
		position: absolute;
		top: 15px;
		right: 15px;
	}

	.field_sublabel_below
	{
		margin-top: 1em;
	}

	.ginput_container
	{
		margin-top: 0.25em;
	}

	#field_4_28
	{
		border: none;
		padding: 0;

		.ginput_complex
		{
			display: flex;
			justify-content: space-evenly;
			flex-wrap: nowrap;

			span
			{
				min-width: 45%;
			}
		}
	}
}

@include b('sidebar-quiz-cta')
{
	position: fixed;
	right: 0;
	top: calc(50vh - 100px);
	z-index: 10;

	.button
	{
		color: #000;
		background-color: #D79153;
		font-weight: 500;
		font-family: "neue-haas-unica", sans-serif;
		text-decoration: none;
		border-radius: 15px 15px 0 0;
		display: inline-block;
		padding: 10px 25px 10px 50px;
		font-size: 16px;
		line-height: 24px;
		transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
		position: relative;
		white-space: nowrap;
		transform-origin: right bottom;
		transform: rotate3d(0, 0, 1, 270deg);
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 2px 12px rgba(0, 0, 0, 0.06);

		&:hover
		{
			background: #82412C;
		}
	}
}

@include b('quiz-popup')
{
	padding: 20px 0;
	max-height: 100vh;
	overflow: hidden;

	@include mobile
	{
		// display: none;
		// pointer-events: none;
		// z-index: -1;
		padding: 0;

		.inner-wrapper
		{
			padding-left: 0;
			padding-right: 0;
		}

		.newsletter-popup__title h3
		{
			padding: 0;
		}
	}

	&.active
	{
		pointer-events: all;

		.newsletter-popup__inner
		{
			opacity: 1;
			max-width: 700px;
			padding: 70px 40px 50px;
			transition-property: opacity;
			overflow-y: auto;
			max-height: calc(100vh - 40px);

			@include mobile
			{
				padding: 50px 15px 25px;
				max-height: calc(100vh);
			}
		}
	}

	h4
	{
		font-size: 20px;
	}

	form span
	{
		display: inline;
		margin-top: 0;
	}

	.gf_progressbar_title
	{
		margin-bottom: 0;
	}

	.gform_page_footer
	{
		margin-top: 1em;
	}

	.disclaimer
	{
		font-size: 0.8em;
	}

	.gform_submission_error
	{
		font-size: 1em;
		margin-top: 1.2em;
		line-height: 1.4;
		margin-bottom: -20px;
	}

	.field_sublabel_below
	{
		border: thin solid black;
		padding: 0 0.5em;

		h2
		{
			color: #C88242;
			font-size: 22px;
			margin-top: 1em;
			line-height: 1.4;
			margin-bottom: 1em;
		}
	}

	#gform_fields_4_14 .field_sublabel_below
	{
		border: none;
		padding: 0;
	}
}
