@include b('module-testimonial')
{
	@include m('image-right')
	{
		@include e('inner')
		{
			flex-direction: row-reverse;

			@include tablet-portrait
			{
				flex-direction: row;
			}
		}
	}

	@include e("inner")
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	@include e('image')
	{
		width: 26%;

		@include tablet-portrait
		{
			width: 50%;
			margin-bottom: 40px;
		}

		@include mobile
		{
			width: 50%;
			margin-bottom: 20px;
		}
	}

	@include e("image-wrapper")
	{
		overflow: hidden;
		position: relative;

		&::after
		{
			content: '';
			padding-bottom: 100%;
			display: block;
		}

		img
		{
			object-fit: cover;
			width: 100%;
			height: 100%;
			position: absolute;
			object-position: center;
		}
	}

	@include e('content-wrapper')
	{
		width: 61%;
		padding-left: 100px;
		position: relative;

		@include mobile
		{
			padding-left: 55px;
		}

		&::after
		{
			content: '';
			background: url(../images/quote.svg) no-repeat center;
			background-size: contain;
			width: 45px;
			height: 24px;
			display: block;
			position: absolute;
			left: 0;
			top: 10px;

			@include mobile
			{
				width: 30px;
			}
		}

		@include tablet-portrait
		{
			width: 100%;
		}
	}

	@include e('content')
	{
		@include font-size($h3-font-sizes);
		margin-bottom: 37px;
		font-family: $body-font;
		color: #212721;

		@include mobile
		{
			margin-bottom: 17px;
		}
	}

	@include e('name')
	{
		color: color(maroon);
		font-weight: 500;
		font-family: $body-font;
	}

	@include e('position')
	{
		color: color(maroon);
		font-family: $body-font;
	}
}
