@include b('module-one-column')
{
	@include e('inner')
	{
		margin: 0 auto;
	}

	@include e("title")
	{
		text-align: center;
		margin-bottom: 60px;

		h2,
		h5
		{
			color: #212721;
		}

		@include mobile
		{
			margin-bottom: 30px;
		}
	}

	@include e('column')
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@include e('content')
	{
		width: 100%;
	}

	.button
	{
		margin-top: 40px;

		@include mobile
		{
			margin-top: 30px;
		}
	}
}

@include b('module-two-column')
{
	@include e("title")
	{
		text-align: center;
		margin-bottom: 60px;

		h2,
		h5
		{
			color: #212721;
		}

		@include mobile
		{
			margin-bottom: 30px;
		}
	}

	@include e("columns")
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	@include e("column")
	{
		width: calc(50% - 16px);

		@include tablet-portrait
		{
			width: 100%;
			margin-bottom: 60px;

			&:last-child
			{
				margin-bottom: 0;
			}
		}
	}

	.button
	{
		margin-top: 40px;

		@include mobile
		{
			margin-top: 30px;
		}
	}
}

@include b('module-three-column')
{
	@include e("title")
	{
		text-align: center;
		margin-bottom: 60px;

		h2,
		h5
		{
			color: #212721;
		}

		@include mobile
		{
			margin-bottom: 30px;
		}
	}

	@include e("columns")
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	@include e("column")
	{
		width: calc(33.33% - 16px);

		@include tablet-portrait
		{
			width: 100%;
			margin-bottom: 60px;

			&:last-child
			{
				margin-bottom: 0;
			}
		}
	}

	.button
	{
		margin-top: 40px;

		@include mobile
		{
			margin-top: 30px;
		}
	}
}
