@include b('module-video-text')
{
	@include m('wide-video')
	{
		@include e('content-wrapper')
		{
			width: 34%;

			@include tablet-portrait
			{
				width: 100%;
			}
		}

		@include e('image')
		{
			width: 52%;

			@include tablet-portrait
			{
				width: 80%;
			}

			@include mobile
			{
				width: 100%;
			}
		}
	}

	@include m('image-right')
	{
		@include e("inner")
		{
			flex-direction: row-reverse;

			@include tablet-portrait
			{
				flex-direction: column;
			}
		}
	}

	@include e("inner")
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;

		@include tablet-portrait
		{
			@include tablet-portrait
			{
				flex-direction: column;
			}
		}
	}

	@include e('content-wrapper')
	{
		width: 52%;

		@include tablet-portrait
		{
			width: 100%;
		}
	}

	@include e('image')
	{
		width: 34%;

		@include tablet-portrait
		{
			width: 80%;
			margin-bottom: 40px;
		}

		@include mobile
		{
			width: 100%;
		}
	}

	@include e("image-wrapper")
	{
		position: relative;
		display: block;

		&:hover
		{
			&::before
			{
				transform: translate(-50%, -50%) scale(0.9);
			}
		}

		&::before
		{
			content: '';
			background: url(../images/play.svg) no-repeat center;
			background-size: contain;
			width: 120px;
			height: 120px;
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			@include transition(all, 500ms);

			@include mobile
			{
				width: 90px;
				height: 90px;
			}
		}
	}

	.button
	{
		margin-top: 40px;

		@include mobile
		{
			margin-top: 20px;
		}
	}
}
