@include b("section")
{
	position: relative;
	padding: 100px 0;

	@include mobile
	{
		padding: 60px 0;
	}

	@include m('blue')
	{
		background: color(light-blue);
	}

	@include m('tan')
	{
		background: color(tan);
	}

	@include m('beige')
	{
		background: color(beige);
	}

	@include m('brown')
	{
		background: color(brown);
	}

	@include m('cream')
	{
		background: color(cream);
	}

	@include m('white')
	{
		background: color(white);
	}
}

@include b("module")
{
	padding-bottom: 100px;

	@include mobile
	{
		padding-bottom: 60px;
	}

	&:last-child
	{
		padding-bottom: 0;
	}
}
