/**
 *  Media Queries and Breakpoints
 */

// Small Mobile
$screen-xxs: 380px;

// Normal Mobile
$screen-xs: 540px;

// Tablet Portrait
$screen-sm: 900px;

// Tablet Landscape
$screen-md: 1240px;

// Laptop
$screen-lg: 1480px;

// Desktop
$screen-xlg: 1600px;

@mixin mobile-small
{
	@media (max-width: #{$screen-xxs})
	{
		@content;
	}
}

@mixin mobile
{
	@media (max-width: #{$screen-xs})
	{
		@content;
	}
}

@mixin tablet-portrait
{
	@media (max-width: #{$screen-sm})
	{
		@content;
	}
}

@mixin tablet-landscape
{
	@media (max-width: #{$screen-md})
	{
		@content;
	}
}

@mixin laptop
{
	@media (max-width: #{$screen-lg})
	{
		@content;
	}
}

@mixin desktop
{
	@media (max-width: #{$screen-xlg})
	{
		@content;
	}
}
