
.error404
{
	.body-wrapper
	{
		padding-top: 100px;
	}
}

@include b("error-wrapper")
{
	@include e('inner')
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 200px 0;

		@include mobile
		{
			padding: 70px 0 100px;
		}

		h1,
		h3
		{
			color: color(black);
		}

		.button
		{
			margin-top: 40px;
		}
	}
}
