.blog
{
	.body-wrapper
	{
		padding-top: 175px;

		@include mobile
		{
			padding-top: 125px;
		}
	}
}

@include b('blog-archive-wrapper')
{
	h1
	{
		display: block;
		text-align: center;
		margin-bottom: 120px;
		color: color(black);

		@include tablet-portrait
		{
			margin-bottom: 90px;
		}

		@include mobile
		{
			margin-bottom: 50px;
		}
	}

	@include e("posts")
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.card-post
	{
		width: calc(25% - 20px);
		margin-bottom: 60px;

		@include mobile
		{
			width: 100%;
			text-align: center;
			margin-bottom: 40px;
		}
	}

	.card-post__image
	{
		border-radius: 0;
	}

	@include e("paging")
	{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 80px;
		font-weight: 700;
		line-height: 1.2;
		font-family: $body-font;

		@include tablet-portrait
		{
			padding-bottom: 40px;
		}

		span
		{
			color: #4D524D;
			margin: 0 4px;
			font-family: $body-font;

			&.current
			{
				text-decoration: underline;
			}
		}

		a
		{
			color: #4D524D;
			text-decoration: none;
			margin: 0 4px;
			font-family: $body-font;

			&:hover
			{
				color: color(maroon);
			}
		}
	}
}
