.single-post
{
	.body-wrapper
	{
		padding-top: 185px;

		@include mobile
		{
			padding-top: 125px;
		}
	}
}

.scrolled
{
	@include b('blog-single-wrapper')
	{
		&::after
		{
			@include tablet-portrait
			{
				background: color(white);
			}
		}
	}
}

@include b('blog-single-wrapper')
{
	padding-bottom: 50px;

	&::after
	{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		background: #F8F2ED;
		z-index: -1;
		@include transition(all, 500ms);
	}

	h1
	{
		text-align: center;
		color: color(black);
		margin-bottom: 99px;

		@include tablet-portrait
		{
			margin-bottom: 47px;
		}

		@include mobile
		{
			margin-bottom: 20px;
		}
	}

	@include e('details')
	{
		margin-bottom: 63px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #3E3E3E;
		font-family: $body-font;

		@include mobile
		{
			margin-bottom: 30px;
		}

		span
		{
			margin: 0 20px;
			height: 23px;
			width: 1px;
			background: #3E3E3E;
			display: block;
		}
	}

	@include e('featured-image')
	{
		position: relative;
		max-width: 897px;
		margin: 0 auto;
		margin-bottom: 65px;

		@include mobile
		{
			margin-bottom: 40px;
		}

		&::after
		{
			content: '';
			padding-bottom: 67%;
			display: block;
		}

		img
		{
			object-fit: cover;
			width: 100%;
			height: 100%;
			position: absolute;
			object-position: center;
		}
	}
}
