.home
{
	.body-wrapper
	{
		padding-top: 800px;

		@include laptop
		{
			padding-top: 711px;
		}

		@include tablet-landscape
		{
			padding-top: 90vh;
		}

		@include mobile
		{
			padding-top: 80vh;
		}
	}
}

@include b('home-header')
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;

	&.active
	{
		.home-header__inner
		{
			opacity: 1;
			@include transition(all, 800ms);
			transition-delay: 1s;
		}
	}

	@include e('desktop-image-element')
	{
		position: absolute;
		object-fit: cover;
		width: 100%;
		left: 0;
		height: 100%;
		object-position: center;

		@include tablet-portrait
		{
			display: none;
		}
	}

	@include e('mobile-image-element')
	{
		position: absolute;
		object-fit: cover;
		width: 100%;
		left: 0;
		height: 100%;
		object-position: center;
		display: none;

		@include tablet-portrait
		{
			display: block;
		}
	}

	@include e('inner')
	{
		height: 800px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		z-index: 2;
		opacity: 0;

		@include laptop
		{
			height: 711px;
		}

		@include tablet-landscape
		{
			height: 90vh;
		}

		@include mobile
		{
			height: 80vh;
		}
	}

	@include e('content')
	{
		@include font-size($h2-font-sizes);
		max-width: 730px;
		margin-bottom: 40px;
		color: color(black);

		@include tablet-portrait
		{
			@include font-size($h1-font-sizes);
		}

		@include mobile
		{
			@include font-size($h2-font-sizes);
		}
	}

	@include e('login')
	{
		display: flex;
		justify-content: flex-start;
		color: color(maroon);
		margin-top: 15px;
		font-family: $body-font;
		font-weight: 500;

		a
		{
			color: color(maroon);
			font-family: $body-font;
			margin-left: 5px;
			font-weight: 500;
			@include transition(all, 500ms);

			&:hover
			{
				opacity: 0.7;
			}
		}
	}
}
