.body-wrapper
{
	padding-top: 463px;
	position: relative;
	z-index: 3;

	@include tablet-portrait
	{
		padding-top: 390px;
	}

	@include mobile
	{
		padding-top: 240px;
	}
}

@include b('page-header')
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;

	&.active
	{
		.page-header__inner
		{
			@include transition(all, 800ms);
			transition-delay: 400ms;
			opacity: 1;
		}
	}

	@include e('inner')
	{
		height: 463px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		padding-bottom: 88px;
		opacity: 0;

		@include tablet-portrait
		{
			padding-bottom: 60px;
			height: 390px;
		}

		@include mobile
		{
			height: 240px;
			padding-bottom: 35px;
		}
	}

	h1
	{
		width: 100%;
		max-width: 570px;
		color: #212721;
	}

	@include m('blue')
	{
		background: color(light-blue);
	}

	@include m('tan')
	{
		background: color(tan);
	}

	@include m('beige')
	{
		background: color(beige);
	}

	@include m('brown')
	{
		background: color(brown);
	}

	@include m('cream')
	{
		background: color(cream);
	}

	@include m('white')
	{
		background: color(white);
	}
}

.page-template-disable-parallax
{
	.body-wrapper
	{
		padding-top: 0;
		z-index: auto;
	}

	.page-header,
	.footer-cta,
	.footer
	{
		position: static;
		z-index: auto;
	}
}
