ul.mc4quiz-tabs {
    display: flex;
    border-bottom: 1px solid #c6c6c6;
}

ul.mc4quiz-tabs li {
    margin: 0;
    position: relative;
}

ul.mc4quiz-tabs a {
    padding: .7em 1.2em;
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
}

ul.mc4quiz-tabs .active a {
    border: 1px solid #c6c6c6;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    font-weight: 500;
}

ul.mc4quiz-tabs .active a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid #f1f1f1;
    bottom: -1px;
    z-index: 1;
}

.mc4quiz .fields-row {
    display: flex;
    margin-bottom: 1em;
}

.mc4quiz .fields-row-vertical {
    flex-direction: column;
}

.mc4quiz .fields-row > .field-label {
    min-width: 14em;
    max-width: 14em;
    font-weight: 500;
    margin-right: 1em;
}

.mc4quiz .fields-row > .field-label.label-bold label {
    font-weight: 700;
}

.mc4quiz .fields-row > .field-label label::after {
    content: ':'
}

.mc4quiz .metabox-read .fields-row:not(.fields-row-vertical) > .field-label label::after {
    float: right;
}

.mc4quiz .fields-row .field-input.checkbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
}

.mc4quiz .field-input.checkbox label {
    margin: 0 1em 1em;
    width: calc(16.66% - 2em);
}

.mc4quiz .field-input textarea {
    height: 100px;
}

.mc4quiz .field-input.radio > label:not(:last-child) {
    margin-right: 1em;
}


.mc4quiz .field-input .input-help-text {
    margin: auto 0 auto 1em
}

.mc4quiz .fields-row > .field-input {
    flex: 1 1 auto;
}


.mc4quiz .reveal {
    position: relative;
}

.mc4quiz .reveal .btn-reveal {
    position: absolute;
    right: .5em;
    top: .5em;
    z-index: 1;
    width: 1em;
    height: 1em;
    border: .05em solid;
    background: none;
    border-radius: .15em;
    font-size: 1.4em;
    cursor: pointer;
}

.mc4quiz .reveal .btn-reveal::before, 
.mc4quiz .reveal .btn-reveal::after {
    position: absolute;
    content: '';
    top: 50%;
    border-top: .05em solid;
    left: .1em;
    right: .1em;
    transform: translateY(-50%);
}

.mc4quiz .reveal .btn-reveal::after {
    transform: rotate(90deg) translateY(-50%);
    transform-origin: top;
}

.mc4quiz .reveal .btn-reveal::after,
.mc4quiz .reveal[data-reveal=full] .btn-reveal::after {
    opacity: 0;
}

.mc4quiz .reveal[data-reveal=partial] .btn-reveal::after {
    opacity: 1;
}

.mc4quiz .reveal .block {
    background: #f9f9f9;
    padding: .5em;
    position: relative;
}

.mc4quiz .reveal[data-reveal=partial] .block {
    height: 10em;
    overflow: hidden;
    cursor: pointer;
}

.mc4quiz .reveal[data-reveal=partial] .block::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0px 5em 5em #f9f9f9;
}



.mc4quiz-metabox-container {
    padding-top: 2em;
}


.mc4quiz-setup .mappings {
    display: grid;
    grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
    max-width: 50em;
    gap: 1em;
}

.mc4quiz-setup .mappings .field-header {
    font-weight: 600;
}

.mc4quiz-setup .mappings select {
    width: 100%;
}