.quiz-result {
    background: #fff;
    padding: 2em;
    /* max-width: 50em; */
    border-radius: 0.5em;
    position: relative;
}

.quiz-result .quiz-container {
    max-width: 35em;
    margin: auto;
}

.quiz-result .quiz-ending-msg {
    text-align: center;
    margin-bottom: 4em;
    padding-bottom: 4em;
}

.quiz-ending-msg::after {
    position: absolute;
    left: 0;
    right: 0;
    border-top: 0.1em dashed #e6e6e6;
    content: '';
    margin-top: 4em;
}

.quiz-result .quiz-ending-msg h2 {
    font-size: 2.4em;
    margin-bottom: 1em;
}

.quiz-result .quiz-guide-working-with-children {
    font-size: .8em;
}

.quiz-result .quiz-guide-working-with-children h2 {
    font-size: 1.5em;
    font-weight: 600;
}

.quiz-result .quiz-guide-working-with-children h3 {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

.quiz-result .quiz-guide-working-with-children ul {
    padding-left: 1.4em;
    margin: 1em 0;
}

.quiz-result .quiz-guide-working-with-children ul li {
    margin-bottom: 1em;
}

.quiz-result .quiz-guide-working-with-children ul li li {
    margin-bottom: .5em;
}