ul.quiz-tabs {
    display: flex;
    border-bottom: 1px solid #c6c6c6;
}

ul.quiz-tabs li {
    margin: 0;
    position: relative;
}

ul.quiz-tabs a {
    padding: .7em 1.2em;
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
}

ul.quiz-tabs .active a {
    border: 1px solid #c6c6c6;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    font-weight: 500;
}

ul.quiz-tabs .active a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid #f1f1f1;
    bottom: -1px;
    z-index: 1;
}

.fields-row {
    display: flex;
    margin-bottom: 1em;
}

.fields-row-vertical {
    flex-direction: column;
}

.fields-row > .field-label {
    min-width: 14em;
    max-width: 14em;
    font-weight: 500;
    margin-right: 1em;
}

.fields-row-vertical > .field-label {
    margin-bottom: 1em;
}

.fields-row > .field-label.label-bold label {
    font-weight: 700;
}

.fields-row > .field-label label::after {
    content: ':'
}

.metabox-read .fields-row:not(.fields-row-vertical) > .field-label label::after {
    float: right;
}

.fields-row .field-input.checkbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
}

.field-input.checkbox label {
    margin: 0 1em 1em;
    width: calc(16.66% - 2em);
}

.field-input textarea {
    height: 100px;
}

.field-input.radio > label:not(:last-child) {
    margin-right: 1em;
}


.field-input .input-help-text {
    margin: auto 0 auto 1em
}

.fields-row > .field-input {
    flex: 1 1 auto;
}


.reveal {
    position: relative;
}

.reveal .btn-reveal {
    position: absolute;
    right: .5em;
    top: .5em;
    z-index: 1;
    width: 1em;
    height: 1em;
    border: .05em solid;
    background: none;
    border-radius: .15em;
    font-size: 1.4em;
    cursor: pointer;
}

.reveal .btn-reveal::before, 
.reveal .btn-reveal::after {
    position: absolute;
    content: '';
    top: 50%;
    border-top: .05em solid;
    left: .1em;
    right: .1em;
    transform: translateY(-50%);
}

.reveal .btn-reveal::after {
    transform: rotate(90deg) translateY(-50%);
    transform-origin: top;
}

.reveal .btn-reveal::after,
.reveal[data-reveal=full] .btn-reveal::after {
    opacity: 0;
}

.reveal[data-reveal=partial] .btn-reveal::after {
    opacity: 1;
}

.reveal .block {
    background: #f9f9f9;
    padding: .5em;
    position: relative;
}

.reveal[data-reveal=partial] .block {
    height: 10em;
    overflow: hidden;
    cursor: pointer;
}

.reveal[data-reveal=partial] .block::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0px 5em 5em #f9f9f9;
}



.quiz-metabox-container {
    padding-top: 2em;
}

#survey-fields-scores .survey-scores-wrap {
    max-width: 50em;
    border: 0.1em solid #d6d6d6;
    border-radius: 0.4em;
    padding: 1.5em;
    margin: 0.5em 0 2em;
}

#survey-fields-scores ul.survey-choices {
    list-style: disc;
    margin-left: 1em;
    margin-top: 0;
}

#survey-fields-scores ul.survey-choices .survey-choice-wrap {
    display: flex;
    align-items: center;
}

#survey-fields-scores ul.survey-choices .survey-choice-wrap input {
    margin-left: auto;
    width: 5em;
}

#survey-fields-scores .fields-row-vertical .field-label {
    max-width: none;
}

.repeatable .repeatable-item {
    display: grid;
    grid-template-columns: 1fr auto;
}

.repeatable .repeatable-item:not(.repeatable-inner-item) {
    display: grid;
    grid-template-columns: 1fr auto;
    border: 0.1em solid #d6d6d6;
    padding: 1.5em;
    border-radius: 0.4em;
    margin-bottom: 2em;
    max-width: 50em;
}

.repeatable .repeatable-item select {
    width: 10em;
}

.repeatable .repeatable-inner-item {
    margin-bottom: 1em;
}

.repeatable .item-content-wrap > div {
    margin: 1em 0;
}

.repeatable button.add,
.repeatable button.remove {
    text-indent: -999em;
    position: relative;
    border-radius: 50%;
    background: none;
    border: 0.1em solid;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    cursor: pointer;
}

.repeatable button.add::after, 
.repeatable button.add::before, 
.repeatable button.remove::before,
.repeatable button.remove::after {
    content: '';
    border-top: 0.1em solid;
    position: absolute;
    left: 0.22em;
    right: 0.22em;
    top: 50%;
}

.repeatable button.add::after {
    transform: rotate(90deg);
}

.repeatable button.remove::before {
    transform: rotate(-45deg);
}

.repeatable button.remove::after {
    transform: rotate(45deg);
}

.repeatable .msg-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.repeatable .msg-wrap textarea {
    height: 12em;
}


.result-message-item .line1 {
    display: flex;
    align-items: center;
}

.result-message-item .line1 .line-inputs {
    margin-left: 1em
}

.result-message-item .line1 .line-inputs input {
    width: 5em;
}