.woocommerce-form-coupon-toggle
{
	display: none;
}

.woocommerce-NoticeGroup
{
	display: none;
}

.woocommerce-form-login-toggle
{
	a
	{
		color: color(black);
	}
}

@include b('woocommerce-checkout')
{
	padding: 32px 0 80px 0 !important;
	@extend .woocommerce;

	.checkbox
	{
		font-weight: 700;

		[type="checkbox"]:not(:checked) + span,
		[type="checkbox"]:checked + span
		{
			position: relative !important;
			padding-left: 22px !important;
			cursor: pointer !important;
		}

		[type="checkbox"]:not(:checked) + span::before,
		[type="checkbox"]:checked + span::before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			box-sizing: border-box;
			height: 12px;
			width: 12px;
			background: transparent;
			border-radius: 100%;
			border: 1px solid color(black);
		}

		[type="checkbox"]:not(:checked) + span::after,
		[type="checkbox"]:checked + span::after
		{
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			top: 2px;
			left: 0;
			opacity: 1;
			background: color(black);
			border-radius: 100%;
			@include transition(all, 400ms);
		}

		[type="checkbox"]:not(:checked) + span::after
		{
			opacity: 0;
		}

		[type="checkbox"]:checked + span::after
		{
			opacity: 1;
		}

		/* disabled checkbox */
		[type="checkbox"]:disabled:checked + span::before
		{
			box-shadow: none;
			border-color: color(black);
			background-color: color(black);
			opacity: 0.6;
		}

		[type="checkbox"]:disabled:checked + span::after
		{
			color: color(black);
			opacity: 0.6;
		}

		[type="checkbox"]:disabled + span
		{
			color: color(black);
			opacity: 0.6;
		}
	}
}

@include b('woocommerce-checkout-review-order')
{
	@extend .cart-collaterals;

	table
	{
		thead
		{
			display: block;

			tr
			{
				margin-bottom: 0;

				th
				{
					padding-top: 0;
					font-weight: 700;
					text-transform: uppercase;
					width: calc(50% - 12.5px);
					@include font-size($p-font-sizes);
				}
			}
		}

		tr
		{
			border: none;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: 0 0;
			margin-bottom: 20px;

			td
			{
				width: calc(50% - 12.5px);
				@extend %row-padding;
			}

			th
			{
				width: calc(50% - 12.5px);
				font-weight: normal;
				@extend %row-padding;

				@include mobile
				{
					width: calc(25% - 12.5px);
				}
			}

			&:first-child
			{
				td,
				th
				{
					border-top: none;
				}
			}
		}

		strong
		{
			font-weight: normal;
		}
	}
}

.col2-set
{
	@extend .woocommerce-cart-form;
}

.woocommerce-checkout
{
	.woocommerce-billing-fields
	{
		h3
		{
			margin-bottom: 0;
			font-weight: 700;
			@extend %row-padding;
			@include font-size($p-font-sizes);
		}
	}

	h3
	{
		padding-bottom: 10px;
		margin-bottom: 0;
		font-weight: 700;
		@include font-size($p-font-sizes);
	}

	input,
	select,
	textarea
	{
		width: 100%;
		box-sizing: border-box;
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-progress-appearance: none;
		background: transparent;
		resize: none;
		color: color(black);
		border: solid 1px color(black);
		padding: 0 8px;
		border-radius: 0;
		height: 30px;
		@include transition(all, 400ms);

		&:focus
	    {
			outline: 0;
		}

		@include placeholder(color(black), 0.6);
	}

	textarea
	{
		padding: 8px;
		height: auto;
	}
}

@include b('checkout')
{
	#order_review_heading
	{
		display: none;
	}

	.form-row
	{
		margin-bottom: 20px;

		&.create-account
		{
			margin-bottom: 0;
		}

		label
		{
			padding-bottom: 10px;
			display: block;
		}

		&#billing_first_name_field,
		&#billing_last_name_field
		{
			label
			{
				padding-top: 10px;
			}
		}

		&.notes
		{
			margin-bottom: 32px;

			@include mobile
			{
				margin-bottom: 1em;
			}
		}

		&.place-order
		{
			margin-bottom: 0.25em;
		}

		label
		{
			display: block;
		}

		abbr
		{
			display: none;
		}
	}

	.woocommerce-billing-fields__field-wrapper,
	.woocommerce-shipping-fields__field-wrapper
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-bottom: 2em;

		.woocommerce-input-wrapper
		{
			margin-top: 0.25em;
			display: block;

			strong
			{
				font-weight: normal;
			}
		}

		p
		{
			width: calc(50% - 12.5px);
			@include font-size($p-font-sizes);

			@include mobile
			{
				width: 100%;
			}

			&#billing_country_field
			{
				.woocommerce-input-wrapper
				{
					height: 30px;
					color: color(black);

					strong
					{
						line-height: 30px;
						display: block;
					}
				}
			}
		}
	}
}

@include b('woocommerce-checkout-payment')
{
	ul
	{
		margin-bottom: 32px;
		@include font-size($p-font-sizes);

		.woocommerce-info
		{
			font-size: inherit;
		}

		.payment_box
		{
			display: block;
			margin-top: 10px;
			color: color(black);
		}
	}

	.payment_method_paypal
	{
		img,
		a
		{
			display: none;
		}
	}

	.wc-credit-card-form
	{
		margin-bottom: 32px;

		.wc-stripe-elements-field
		{
			@include placeholder(color(black), 0.6);
		}
	}

	.payment_method_stripe
	{
		img
		{
			display: none;
		}
	}

	.wc-stripe-new-payment-method
	{
		border-radius: 100%;
		border: 1px solid color(black);
		padding: 0;
	}
}


@include b('woocommerce-additional-fields')
{
	margin: 2.7em 0;
}

@include b('woocommerce-privacy-policy-text')
{
	p
	{
		margin-bottom: 32px;
		@include font-size($p-font-sizes);
	}
}

@include b('col-2')
{
	width: 100%;
}


@include b('woocommerce-invalid')
{
	label
	{
		color: color(black);
	}

	.woocommerce-input-wrapper
	{
		&::after
		{
			content: 'Please review';
			display: block;
			font-size: 14px;
			color: color(black);
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}

		input,
		select,
		textarea
		{
			border: 1px solid color(black);
			@include placeholder(color(black), 0.6);
		}
	}
}
