@include b('radio-general')
{
	position: absolute;
	left: 0;
	box-sizing: border-box;
	top: 8px;
	height: 12px;
	width: 12px;
	border-radius: 100%;
	border: 1px solid #D3D4D3;
	@include transition(all, 400ms);

	@include mobile
	{
		top: 6px;
	}
}

@include b('radio-unchecked')
{
	border: 1px solid #D3D4D3;
}

@include b('radio-checked')
{
	background: color(blue);
	border: 1px solid color(blue);
}

@include b('radio-label')
{
	padding-left: 20px !important;
}

@include b('radio-disabled')
{
	background: transparentize(color(black), 0.8);
	border-color: transparentize(color(black), 0.6);
}

@include b('label-disabled')
{
	color: transparentize(color(black), 0.6);
}

/**
 * radio
 */
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label
{
	position: relative !important;
	cursor: pointer !important;
	@extend .radio-label;
}

[type="radio"]:not(:checked) + label::before,
[type="radio"]:checked + label::before
{
	content: '';
	@extend .radio-general;
	@extend .radio-unchecked;
}

[type="radio"]:not(:checked) + label::after,
[type="radio"]:checked + label::after
{
	content: '';
	opacity: 1;
	@extend .radio-general;
	@extend .radio-checked;
}


[type="radio"]:not(:checked) + label::after
{
	opacity: 0;
}

[type="radio"]:checked + label::after
{
	opacity: 1;
}

/* disabled radio */
[type="radio"]:disabled:not(:checked) + label::before
{
	box-shadow: none;
	@extend .radio-disabled;
}

[type="radio"]:disabled + label
{
	@extend .label-disabled;
}

/**
 * Checkbox
 */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label
{
	position: relative !important;
	cursor: pointer !important;
	@extend .radio-label;
}

[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before
{
	content: '';
	@extend .radio-general;
	@extend .radio-unchecked;
}

[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after
{
	content: '';
	@extend .radio-general;
	@extend .radio-checked;
}

[type="checkbox"]:not(:checked) + label::after
{
	opacity: 0;
}

[type="checkbox"]:checked + label::after
{
	opacity: 1;
}

/* disabled checkbox */
[type="checkbox"]:disabled:checked + label::before
{
	box-shadow: none;
	@extend .radio-disabled;
}

[type="checkbox"]:disabled + label
{
	@extend .label-disabled;
}

/**
 * Hide default radios
 */
[type="radio"]:not(:checked),
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="checkbox"]:checked
{
	position: absolute !important;
	left: -9999px;
}
