$_color: (
	white: #ffffff,
	black: #212721,
	debug: #ff00ef,
	cream: #F8F2ED,
	tan: #E4C1A1,
	beige: #F7E6DC,
	light-blue: #DBE4E9,
	brown: #DCBFA6,
	blue: #A6BBC8,
	maroon: #82412C,
	orange: #C88242,
	grey: #4D524D,
);
