/**
 *  General
 */

*
{
	-webkit-font-smoothing: antialiased;
	font-family: $font-family;
}

img
{
	max-width: 100%;
	display: block;
}

@include b('button')
{
	color: color(white);
	font-weight: 500;
	font-family: $body-font;
	text-decoration: none;
	border-radius: 200px;
	display: inline-block;
	padding: 13px 30px 13px 50px;
	@include font-size($button-font-sizes);
	@include transition(all, 600ms);
	position: relative;
	white-space: nowrap;

	&::after
	{
		content: '';
		position: absolute;
		pointer-events: none;
		top: 50%;
		left: 21px;
		transform: translateY(-50%);
		width: 12px;
		height: 12px;
		border-radius: 100%;
		border: solid 4px color(white);
	}

	@include m('inverse')
	{
		border: solid 1px color(maroon);
		color: color(maroon);

		&:hover
		{
			background: color(maroon);
			color: color(white);

			&::after
			{
				box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
			}
		}

		&::after
		{
			box-shadow: 0 0 0 4px rgba(255, 255, 255, 0);
			background: color(maroon);
			border: 0;
			@include transition(all, 600ms);
		}
	}

	@include m('orange')
	{
		background: color(orange);

		&:hover
		{
			background: color(maroon);
		}
	}

	@include m('blue')
	{
		background: color(blue);

		&:hover
		{
			background: color(maroon);
		}
	}
}

@include b('owl-next')
{
	position: absolute;
	right: -76px;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background: url(../images/owl-next.svg) no-repeat center !important;
	background-size: contain !important;
	@include transition(all, 500ms);
	opacity: 0.6;

	@include tablet-landscape
	{
		right: -50px;
	}

	@include tablet-portrait
	{
		width: 30px;
		height: 30px;
		right: -40px;
	}

	@include mobile
	{
		right: 10px;
	}

	&:hover
	{
		opacity: 1;
	}

	span
	{
		display: none !important;
	}
}

@include b('owl-prev')
{
	position: absolute;
	left: -76px;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background: url(../images/owl-prev.svg) no-repeat center !important;
	background-size: contain !important;
	@include transition(all, 500ms);
	opacity: 0.6;

	@include tablet-landscape
	{
		left: -50px;
	}

	@include tablet-portrait
	{
		width: 30px;
		height: 30px;
		left: -40px;
	}

	@include mobile
	{
		left: 10px;
	}

	&:hover
	{
		opacity: 1;
	}

	span
	{
		display: none !important;
	}
}

@include b('owl-dots')
{
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	.owl-dot
	{
		width: 10px;
		height: 10px;
		border-radius: 100%;
		display: block;
		margin: 0 5px;
		@include transition(all, 400ms);

		&.active
		{
			//active style
		}
	}
}

@include b('cookie-notice')
{
	background: color(black);
	color: color(white);
	left: 0;
	top: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 10;
}
