/* * Margin bottom row */
@include b('form-row')
{
	margin-bottom: 30px;

	@include mobile
	{
		margin-bottom: 30px;
	}
}

/* Margin bottom label */
@include b('label-row')
{
	margin-bottom: 16px;
	font-family: $body-font;

	@include mobile
	{
		margin-bottom: 16px;
		font-size: 14px;
	}
}

/* Input row style */
@include b('input-style')
{
	border: 1px solid color(black);
	padding: 0.5em;
}

/* Button style */
@include b('form-button')
{
	width: auto;
	display: inline-block;
	border: 1px solid color(black);
	text-align: center;
	padding: 0.5em 3em;
	@include transition(all, 400ms);

	&:hover
	{
		background: color(black);
		color: color(white);
	}
}

/**
 * Placeholder
 * These variables are fed into the placeholder mixing,
 * found in library.scss
 */

$placeholder_color: color(black);
$placeholder_opacity: 1;
$gutter: 20px;

/**
 * Do any more custom
 * form styling below
 */
@include b('gform_wrapper')
{
	box-sizing: border-box;

	.validation_message
	{
		font-size: 12px;
		color: color(maroon);
		font-family: $body-font;
		margin-top: 5px;
	}

	form
	{
		.gform_body
		{
			margin-bottom: 10px;
			width: 100%;

			> .gform_fields
			{
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				flex-wrap: wrap;
				list-style: none;
				padding: 0;
				margin: 0;

				> .gfield
				{
					width: 100%;
					position: relative;
					padding-left: 0;
					@extend .form-row;

					&::after
					{
						display: none;
					}

					@include mobile
					{
						width: 100% !important;
					}

					.ginput_preview
					{
						display: flex;
						align-items: center;
						justify-content: flex-start;
						margin-top: 10px;

						strong
						{
							font-weight: normal;
							margin-left: 10px;
						}
					}

					.ginput_container_address
					{
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;

						span
						{
							display: flex;
							flex-direction: column-reverse;
							width: 32%;

							&.ginput_full
							{
								width: 100%;
								@extend .form-row;
							}

							label
							{
								display: block;
								@extend .label-row;
							}
						}
					}

					.ginput_container_date
					{
						> div
						{
							display: flex;
							justify-content: space-between;
							align-items: center;

							.ginput_container
							{
								width: 31%;
								position: relative;
							}
						}
					}

					.gfield_radio
					{
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;
						flex-wrap: wrap;
						list-style: none;
						padding: 0;
						margin: 0;

						li
						{
							display: flex;
							justify-content: flex-start;
							align-items: center;
							margin-bottom: 5px;
							padding-left: 0;
							margin-right: 20px;
							width: 100%;

							&::after
							{
								display: none;
							}

							input[type="radio"]
							{
								margin: 0;
								flex-shrink: 0;
								margin-right: 8px;
							}

							label
							{
								@extend .label-row;
								margin-bottom: 0;

								@include mobile
								{
									font-size: 14px;
								}
							}
						}
					}

					.gfield_checkbox
					{
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;
						flex-wrap: wrap;
						list-style: none;
						padding: 0;
						margin: 0;

						li
						{
							display: flex;
							justify-content: flex-start;
							align-items: center;
							margin-bottom: 5px;
							padding-left: 0;
							margin-right: 20px;
							width: 100%;

							&::after
							{
								display: none;
							}

							input[type="checkbox"]
							{
								margin: 0;
								flex-shrink: 0;
								margin-right: 8px;
							}

							label
							{
								@extend .label-row;
								margin-bottom: 0;

								@include mobile
								{
									font-size: 14px;
								}
							}
						}
					}

					> .gfield_label
					{
						display: block;
						font-family: $body-font;
						@extend .label-row;
					}

					.ginput_container_select
					{
						position: relative;
						width: 100%;

						&::after
						{
							content: '';
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 6px 5px 0 5px;
							border-color: color(maroon) transparent transparent transparent;
							position: absolute;
							right: 30px;
							top: 50%;
							pointer-events: none;
							transform: translateY(-50%);

							@include mobile
							{
								right: 17px;
							}
						}

						select
						{
							-moz-appearance: none;
							-webkit-appearance: none;
							-ms-progress-appearance: none;
							padding-right: 30px;

							option
							{
								//Option
							}
						}
					}

					&.title-block
					{
						@extend .form-row;
					}

					&.hide-label
					{
						> .gfield_label
						{
							display: none !important;
						}
					}

					&.no-label
					{
						> .gfield_label
						{
							display: none !important;
						}
					}

					&.centre-text
					{
						> .gfield_label
						{
							text-align: center;
							display: block;
						}

						input[type="text"],
						input[type="email"],
						select,
						textarea
						{
							text-align: center;
						}
					}

					input[type="text"],
					input[type="email"],
					select,
					textarea
					{
						border-radius: 200px;
						appearance: none;
						padding: 13px 20px;
						display: block;
						width: 100%;
						font-family: $body-font;
						line-height: normal;
						margin-bottom: 0;
						@include transition(all, 500ms);
						font-size: 16px;
						background: none;
						border: solid 1px #D3D4D3;

						@include mobile
						{
							font-size: 14px;
							padding: 9px 15px;
						}

						&:focus
						{
							box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.10);
						}

						@include placeholder($placeholder_color, $placeholder_opacity);
					}

					textarea
					{
						border-radius: 24px;
					}

					&.third
					{
						width: calc(33.33% - ((#{$gutter} * 3) / 2));
					}

					&.half
					{
						width: calc(50% - (#{$gutter} / 2));
					}

					&.two-thirds
					{
						width: calc(66.66% - (#{$gutter} / 2));
					}
				}
			}
		}

		.gform_footer
		{
			.gform_button
			{
				-moz-appearance: none;
				-webkit-appearance: none;
				-ms-progress-appearance: none;
				color: color(white);
				font-weight: 500;
				font-family: $body-font;
				border: 0;
				text-decoration: none;
				border-radius: 200px;
				display: inline-block;
				padding: 13px 30px 13px 50px;
				@include font-size($button-font-sizes);
				@include transition(all, 600ms);
				position: relative;

				span
				{
					font-family: $body-font;
				}

				&::after
				{
					content: '';
					position: absolute;
					pointer-events: none;
					top: 50%;
					left: 21px;
					transform: translateY(-50%);
					width: 12px;
					height: 12px;
					border-radius: 100%;
					border: solid 4px color(white);
				}

				background: color(blue);

				&:hover
				{
					background: color(maroon);
				}
			}
		}
	}
}


/**
 * Resets / Defaults
 */
.gf_clear,
.gform_card_icon_container,
.ginput_card_security_code_icon,
img.gform_ajax_spinner,
.validation_error
{
	display: none !important;
}

.gform_validation_container
{
	position: fixed !important;
	left: 999px;
	visibility: hidden;
}

.gform_confirmation_message
{
	@include font-size($body-font-sizes);
}
