// Note: Globally defined styling

*
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

body
{
	margin: 0;
}

.empty-div
{
	margin: 0 !important;
	padding: 0 !important;
	height: 0 !important;
	opacity: 0 !important;
	pointer-events: none !important;
}

@include b('inner-wrapper')
{
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
	padding: 0 160px;
	@include transition(all, 400ms);

	@include tablet-landscape
	{
		padding-left: 50px;
		padding-right: 50px;
	}

	@include mobile
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}

.page-builder-wrapper
{
	@include transition(all, 500ms);
}

.scrolled
{
	.page-builder-wrapper
	{
		box-shadow: 0 -5px 20px -3px rgba(0, 0, 0, 0.10);
	}
}
