.lity
{
	background: transparent;
	overflow: hidden;

	&::after
	{
		background: linear-gradient(to right, rgba(202, 214, 222, 0.8) 0%, rgba(202, 214, 222, 0.8) 50%, rgba(202, 214, 222, 0) 100%);
		@include transition(all, 1.5s);
		transition-delay: 300ms;
		transform: translateX(-100%);
		position: absolute;
		top: 0;
		height: 100%;
		width: 200%;
		left: 0;
		content: '';
		animation: move-in-bg 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	}
}

.lity-wrap
{
	padding: 20px;
}

@keyframes move-in-bg
{
	0%
	{
		transform: translateX(-100%);
	}

	100%
	{
		transform: translateX(0);
	}
}

.lity-close,
.lity-close:hover,
.lity-close:focus,
.lity-close:active,
.lity-close:visited
{
	top: 2rem;
	right: 2rem;
	width: 55px;
	height: 55px;
	background: url(../images/close.svg) no-repeat center;
	background-size: 35px 33px;
	overflow: hidden;
	text-indent: -99rem;
	border-radius: 50%;
	@include transition(background, 600ms);
	background-color: color(white);

	@include mobile
	{
		top: 10px;
		right: 16px;
		width: 35px;
		height: 38px;
		background-size: 26px 24px;
	}
}

.lity-close:hover,
.lity-close:focus,
.lity-close:active
{
	background-color: color(beige);
}
