/**
 *  Typography
 */

//## Input external font here

@import url("//hello.myfonts.net/count/3d67fa");

@font-face
{
	font-family: 'Frutiger';
	src: url('../fonts/FrutigerLTProRoman/font.woff2');
	src:
		url('../fonts/FrutigerLTProRoman/font.woff2') format('woff2'),
		url('../fonts/FrutigerLTProRoman/font.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Frutiger';
	src: url('../fonts/FrutigerLTProBold/font.woff2');
	src:
		url('../fonts/FrutigerLTProBold/font.woff2') format('woff2'),
		url('../fonts/FrutigerLTProBold/font.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}


@font-face
{
	font-family: 'Frutiger';
	src: url('../fonts/FrutigerLTProItalic/font.woff2');
	src:
		url('../fonts/FrutigerLTProItalic/font.woff2') format('woff2'),
		url('../fonts/FrutigerLTProItalic/font.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}


@font-face
{
	font-family: 'Frutiger';
	src: url('../fonts/FrutigerLTProBoldItalic/font.woff2');
	src:
		url('../fonts/FrutigerLTProBoldItalic/font.woff2') format('woff2'),
		url('../fonts/FrutigerLTProBoldItalic/font.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

$font-family: "Frutiger", sans-serif;
$body-font: "neue-haas-unica", sans-serif;
$card-font: "sauna-new", sans-serif;

/**
 *  Font weight variables
 */
$x-bold: 700;
$bold: 500;
$normal: 300;

/**
 *  Font sizes
 *
 *	Map options: null, x-small, small, medium, large, x-large
 *
 */

$body-font-sizes: (
	null : (16px, 24px),
	tablet-portrait: (16px, 24px),
);

$body-large-font-sizes: (
	null : (20px, 28px),
	tablet-portrait: (20px, 28px),
);

$button-font-sizes: (
	null : (16px, 24px),
	tablet-portrait: (16px, 24px),
);

$h1-font-sizes: (
	null : (30px, 41px),
	mobile : (36px, 50px),
	tablet-portrait: (48px, 64px),
);

$h2-font-sizes: (
	null : (27px, 37px),
	tablet-portrait: (39px, 51px),
);

$h3-font-sizes: (
	null : (22px, 1.5),
	tablet-portrait: (32px, 42px),
);

$h4-font-sizes: (
	null : (18px, 1.5),
	tablet-portrait: (25px, 34px),
);

$h5-font-sizes: (
	null : (16px, 24px),
	mobile : (16px, 24px),
	tablet-portrait: (20px, 28px),
);


p,
h1,
h2,
h3,
h4,
h5
{
	font-family: $font-family;
}

p
{
	margin: 0;
	padding: 0;
	font-family: $body-font;
	@include font-size($body-font-sizes);
}

body
{
	font-weight: normal;
	font-family: $body-font;
	color: #3E3E3E;
	@include font-size($body-font-sizes);
}

h1
{
	font-weight: normal;
	margin: 0;
	color: color(maroon);
	padding: 0;
	font-family: $font-family;
	@include font-size($h1-font-sizes);
}

h2
{
	font-weight: normal;
	margin: 0;
	color: color(maroon);
	padding: 0;
	font-family: $font-family;
	@include font-size($h2-font-sizes);
}

h3
{
	font-weight: normal;
	margin: 0;
	color: color(maroon);
	font-family: $font-family;
	padding: 0;
	@include font-size($h3-font-sizes);
}

h4
{
	font-weight: normal;
	color: color(maroon);
	margin: 0;
	padding: 0;
	font-family: $font-family;
	@include font-size($h4-font-sizes);
}

h5
{
	font-weight: 700;
	color: color(maroon);
	margin: 0;
	padding: 0;
	font-family: $font-family;
	@include font-size($h5-font-sizes);
}

@include b('content')
{
	ol
	{
		list-style: none;
		counter-reset: my-awesome-counter;
		margin-bottom: 1.4em;
	}

	ol li
	{
		counter-increment: my-awesome-counter;
		font-family: $body-font;
		position: relative;
		padding-left: 20px;
		margin-bottom: 10px;

		&:last-child
		{
			margin-bottom: 0;
		}
	}

	ol li::before
	{
		content: counter(my-awesome-counter) ". ";
		font-family: $body-font;
		position: absolute;
		left: 0;
		top: 0;
	}

	ul
	{
		margin-bottom: 1.4em;

		li
		{
			position: relative;
			padding-left: 15px;
			margin-bottom: 10px;
			@include font-size($body-font-sizes);
			font-family: $body-font;

			&:last-child
			{
				margin-bottom: 0;
			}

			&::after
			{
				content: '•';
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}

	li a,
	p a
	{
		color: #3E3E3E;
		@include transition(all, 500ms);
		font-family: $body-font;

		&:hover
		{
			color: color(maroon);
		}
	}

	p
	{
		margin-bottom: 1.4em;
	}

	> *:last-child
	{
		margin-bottom: 0;
	}

	h3,
	h2
	{
		margin-bottom: 32px;

		@include tablet-portrait
		{
			margin-bottom: 8px;
		}
	}

	h5,
	h4
	{
		margin-bottom: 23px;

		@include tablet-portrait
		{
			margin-bottom: 8px;
		}
	}

	blockquote
	{
		@include font-size($h3-font-sizes);
		padding: 0;
		margin: 0;
		font-family: $font-family;
		margin-bottom: 33px;

		@include tablet-portrait
		{
			margin-bottom: 20px;
		}

		p
		{
			@include font-size($h3-font-sizes);
			margin: 0;
			padding: 0;
			font-family: $font-family;
			color: #212721;
		}
	}

	strong
	{
		font-family: inherit;
	}

	img
	{
		height: auto;
	}
}

body#tinymce.wp-editor
{
	padding: 10px !important;
	@extend .content;
}
