@include b('section')
{
	position: relative;
	overflow: hidden;

	&.active
	{
		&::after
		{
			transform: translateX(-100%);
		}
	}

	&:nth-child(even)
	{
		&::after
		{
			transform: rotateY(180deg);
			left: auto;
			right: 0;
		}

		&.active
		{
			&::after
			{
				transform: rotateY(180deg) translateX(-100%);
			}
		}
	}

	&::after
	{
		content: '';
		width: 200%;
		height: 100%;
		position: absolute;
		left: 0;
		pointer-events: none;
		top: 0;
		@include transition(all, 1.5s);
	}

	@include m('cream')
	{
		&::after
		{
			background: linear-gradient(to right, rgba(248, 242, 237, 1) 0%, rgba(248, 242, 237, 1) 50%, rgba(248, 242, 237, 0) 100%);
		}
	}

	@include m('blue')
	{
		&::after
		{
			background: linear-gradient(to right, rgba(219, 228, 233, 1) 0%, rgba(219, 228, 233, 1) 50%, rgba(219, 228, 233, 0) 100%);
		}
	}

	@include m('white')
	{
		&::after
		{
			background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
		}
	}

	@include m('tan')
	{
		&::after
		{
			background: linear-gradient(to right, rgb(228, 193, 161) 0%, rgba(228, 193, 161, 1) 50%, rgba(228, 193, 161, 0) 100%);
		}
	}

	@include m('beige')
	{
		&::after
		{
			background: linear-gradient(to right, rgb(247, 230, 220) 0%, rgba(247, 230, 220, 1) 50%, rgba(247, 230, 220, 0) 100%);
		}
	}

	@include m('brown')
	{
		&::after
		{
			background: linear-gradient(to right, rgb(220, 191, 166) 0%, rgba(220, 191, 166, 1) 50%, rgba(220, 191, 166, 0) 100%);
		}
	}
}
