@include b('card-related')
{
	text-align: center;
	text-decoration: none;

	&:hover
	{
		@include e('image')
		{
			opacity: 0.6;
		}
	}

	@include e('image')
	{
		border-radius: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;
		@include transition(all, 500ms);
		margin-bottom: 25px;

		@include mobile
		{
			max-width: 80%;
			margin: 0 auto;
			margin-bottom: 20px;
		}

		&::after
		{
			content: '';
			padding-bottom: 100%;
			display: block;
		}

		img
		{
			object-fit: cover;
			width: 100%;
			height: 100%;
			position: absolute;
			object-position: center;
		}
	}

	@include e('date')
	{
		margin-bottom: 18px;
		color: color(maroon);
		font-weight: 500;
		font-family: $body-font;

		@include mobile
		{
			margin-bottom: 12px;
		}
	}

	@include e('title')
	{
		font-family: $body-font;
		color: #2E2E2E;
	}
}

@include b('card-post')
{
	text-align: left;
	text-decoration: none;

	&:hover
	{
		@include e('image')
		{
			opacity: 0.6;
		}

		@include e("title")
		{
			color: color(maroon);
		}
	}

	@include e('image')
	{
		border-radius: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;
		@include transition(all, 500ms);
		margin-bottom: 25px;

		@include mobile
		{
			max-width: 80%;
			margin: 0 auto;
			margin-bottom: 20px;
		}

		&::after
		{
			content: '';
			padding-bottom: 100%;
			display: block;
		}

		img
		{
			object-fit: cover;
			width: 100%;
			height: 100%;
			position: absolute;
			object-position: center;
		}
	}

	@include e('title')
	{
		margin-bottom: 9px;
		font-size: 20px;
		color: #4D524D;
		font-weight: 700;
		font-family: $body-font;
		@include transition(all, 500ms);

		@include mobile
		{
			margin-bottom: 12px;
		}
	}

	@include e('excerpt')
	{
		font-family: $body-font;
		color: #4D524D;
	}
}
