@include b('footer')
{
	background: #F4E6D9;
	padding: 60px 0 40px;
	color: color(maroon);
	font-size: 14px;
	position: relative;
	z-index: 4;

	@include mobile
	{
		padding: 40px 0 20px;
	}

	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@include tablet-landscape
		{
			flex-direction: column;
		}
	}

	a
	{
		@include transition(all, 500ms);

		&:hover
		{
			opacity: 0.6;
		}
	}

	@include e('logo')
	{
		width: 86px;
		height: 36px;
		display: block;
		background: url(../images/footer-logo.svg) no-repeat center;
		background-size: contain;

		@include tablet-landscape
		{
			margin-bottom: 30px;
		}

		@include mobile
		{
			width: 63px;
			height: 26px;
		}
	}

	@include e('nav')
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 80%;

		@include tablet-landscape
		{
			width: 100%;
		}

		@include tablet-portrait
		{
			flex-wrap: wrap;
		}
	}

	@include e('column')
	{
		width: 19%;

		@include tablet-portrait
		{
			width: 24%;
		}

		@include mobile
		{
			width: 48%;
			margin-bottom: 20px;
		}
	}

	@include e("facebook")
	{
		span
		{
			display: block;
			width: 24px;
			height: 24px;
			background: url(../images/facebook.svg) no-repeat center;
			background-size: contain;
			margin-right: 20px;
		}
	}

	@include e("twitter")
	{
		span
		{
			display: block;
			width: 24px;
			height: 24px;
			background: url(../images/twitter.svg) no-repeat center;
			background-size: contain;
			margin-right: 20px;
		}
	}


	@include e("linkedin")
	{
		span
		{
			display: block;
			width: 24px;
			height: 24px;
			background: url(../images/linkedin.svg) no-repeat center;
			background-size: contain;
			margin-right: 20px;
		}
	}

	@include e("youtube")
	{
		span
		{
			display: block;
			width: 24px;
			height: 24px;
			background: url(../images/youtube.svg) no-repeat center;
			background-size: contain;
			margin-right: 20px;
		}
	}


	@include e('socials')
	{
		width: 19%;

		@include tablet-portrait
		{
			width: 100%;
		}

		@include mobile
		{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		a
		{
			text-decoration: none;
			color: color(maroon);
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 19px;

			@include mobile
			{
				width: 48%;
			}
		}

		.menu-header
		{
			margin-bottom: 24px;
			font-weight: 700;
			font-family: $body-font;
			color: color(maroon);
			width: 100%;

			@include mobile
			{
				margin-bottom: 17px;
			}
		}
	}

	ul
	{
		li
		{
			margin-bottom: 18px;

			@include mobile
			{
				margin-bottom: 10px;
			}

			&.menu-header
			{
				margin-bottom: 23px;
				font-weight: 700;

				@include mobile
				{
					margin-bottom: 10px;
				}

				a
				{
					font-weight: 700;
				}
			}

			a
			{
				text-decoration: none;
				color: color(maroon);
				font-family: $body-font;
			}
		}
	}

	@include e('copyright')
	{
		padding-top: 100px;

		@include mobile
		{
			padding-top: 60px;
		}
	}
}

@include b('footer-cta')
{
	background: color(light-blue);
	z-index: 3;
	position: relative;
	padding: 65px 0;

	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	h3
	{
		@include font-size($h2-font-sizes);
		color: #212721;
		width: 100%;
		max-width: 537px;

		&.full-width
		{
			max-width: 100%;
		}

		@include tablet-portrait
		{
			max-width: 100%;
		}
	}

	@include e('right')
	{
		@include tablet-portrait
		{
			width: 100%;
			margin-top: 40px;
		}
	}

	@include e('login')
	{
		display: flex;
		justify-content: flex-start;
		color: color(maroon);
		margin-top: 15px;
		font-family: $body-font;
		font-weight: 500;

		a
		{
			color: color(maroon);
			font-family: $body-font;
			margin-left: 5px;
			font-weight: 500;
			@include transition(all, 500ms);

			&:hover
			{
				opacity: 0.7;
			}
		}
	}
}

@include b('footer-awards')
{
	margin-top: 80px;

	h2
	{
		color: #212721;
		text-align: center;
		padding: 0 20px 20px 20px;
		margin: 0 auto;
		font-size: 32px;

		@include mobile
		{
			padding: 0 0 15px 0;
		}
	}

	.module-logos__logo
	{

		@include laptop
		{
			margin: 0 7px 15px 7px;
		}
	}

	a.module-logos__logo:hover
	{
		opacity: 0.7;
	}

	div.module-logos__logo:hover
	{
		opacity: 1;
	}
}
