form
{
	input
	{
		border-radius: 200px;
		appearance: none;
		border: 0;
		background: color(white);
		padding: 13px 20px;
		display: block;
		width: 100%;
		margin-bottom: 15px;
		font-family: $body-font;
		line-height: normal;
		@include transition(all, 500ms);
		font-size: 16px;

		@include mobile
		{
			font-size: 14px;
			padding: 9px 15px;
		}

		&:focus
		{
			box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.10);
		}

		&::placeholder
		{
			color: color(black);
			opacity: 1;
		}

		&:-moz-placeholder
		{
			color: color(black);
			opacity: 1;
		}

		&:-ms-input-placeholder
		{
			color: color(black);
			opacity: 1;
		}

		&::-webkit-input-placeholder
		{
			color: color(black);
			opacity: 1;
		}
	}

	.select-wrapper
	{
		position: relative;

		&::after
		{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 5px 0 5px;
			border-color: color(maroon) transparent transparent transparent;
			position: absolute;
			right: 30px;
			top: 50%;
			pointer-events: none;
			transform: translateY(-50%);

			@include mobile
			{
				right: 17px;
			}
		}
	}

	select
	{
		border-radius: 200px;
		appearance: none;
		border: 0;
		background: color(white);
		padding: 13px 20px;
		display: block;
		width: 100%;
		margin-bottom: 15px;
		font-family: $body-font;
		line-height: normal;
		padding-right: 50px;

		@include mobile
		{
			font-size: 14px;
			padding: 9px 15px;
			padding-right: 35px;
		}

		@include transition(all, 500ms);

		&:focus
		{
			box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.10);
		}
	}
}
