.header-light,
.home
{
	@include b('header')
	{
		@include e('logo')
		{
			background: url(../images/logo-white.svg) no-repeat center;
			background-size: contain;
		}
	}
}

.scrolled,
.menu-active
{
	@include b('header')
	{
		background: color(light-blue);
		box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.10);
	}
}

@include b("header")
{
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	@include transition(all, 800ms);

	.inner-wrapper
	{
		max-width: 100%;
		padding: 0 50px;

		@include mobile
		{
			padding: 0 20px;
		}
	}

	@include e("logo")
	{
		background: url(../images/logo-black.svg) no-repeat center;
		background-size: contain;
		width: 140px;
		height: 50px;
		display: block;
		margin-right: 100px;

		@include mobile
		{
			width: 90px;
			height: 32px;
			margin-right: 0;
		}
	}

	@include e('nav')
	{
		@include tablet-landscape
		{
			display: none;
		}
	}

	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mobile
		{
			padding: 10px 0;
		}
	}

	@include e('actions')
	{
		a
		{
			margin-left: 24px;

			&:nth-child(1),
			&:nth-child(2)
			{
				@include tablet-landscape
				{
					display: none;
				}
			}
		}
	}

	@include e('left')
	{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	ul
	{
		display: flex;
		justify-content: flex-start;
		align-items: center;

		li
		{
			position: relative;
			margin-right: 43px;
			padding: 44px 0;

			&.current_menu_item
			{
				&::before
				{
					content: '';
					width: 4px;
					height: 4px;
					background: color(black);
					position: absolute;
					left: -10px;
					top: 50%;
					transform: translateY(-50%);
					display: block;
					border-radius: 100%;
				}
			}

			&:hover
			{
				.sub-menu
				{
					opacity: 1;
					pointer-events: auto;
				}
			}

			&.menu-item-has-children
			{
				padding-right: 13px;

				&::after
				{
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 3px 0 3px;
					border-color: color(black) transparent transparent transparent;
				}
			}

			a
			{
				font-family: $body-font;
				text-decoration: none;
				color: color(black);
				white-space: nowrap;
				font-size: 14px;
				font-weight: 500;
				@include transition(all, 500ms);

				&:hover
				{
					color: #585858;
				}
			}

			.sub-menu
			{
				position: absolute;
				left: 0;
				padding: 15px 0 25px;
				top: 100%;
				z-index: 2;
				flex-direction: column;
				align-items: flex-start;
				@include transition(all, 500ms);
				transition-delay: 200ms;
				opacity: 0;
				pointer-events: none;

				&::after
				{
					content: '';
					background: rgba(228, 193, 161, 0.95);
					height: 100%;
					width: 200vw;
					position: absolute;
					left: 50%;
					z-index: -1;
					transform: translateX(-50%);
					top: 0;
				}

				li
				{
					margin-bottom: 0;
					padding: 0;
					margin-right: 0;
					min-width: 151px;
					border-bottom: solid 1px color(orange);

					a
					{
						font-size: 14px;
						font-weight: 400;
						padding: 7px 0;
						display: block;
					}
				}
			}
		}
	}

	@include e("menu-trigger")
	{
		position: relative;
		height: 18px;
		width: 25px;
		display: none;

		@include tablet-landscape
		{
			display: block;
		}

		.bar
		{
			width: 25px;
			height: 2px;
			background: color(black);
			display: block;
			position: absolute;
			@include transition(all, 500ms);
		}

		.bar--1
		{
			top: 0;
			left: 0;
		}

		.bar--2
		{
			top: 8px;
			left: 0;
		}

		.bar--3
		{
			top: 16px;
			left: 0;
		}
	}
}

.menu-active
{
	@include b("header")
	{
		@include e('menu-trigger')
		{
			.bar--1
			{
				top: 8px;
				transform: rotate(135deg);
			}

			.bar--2
			{
				opacity: 0;
			}

			.bar--3
			{
				top: 8px;
				transform: rotate(-135deg);
			}
		}
	}
}

.menu-active
{
	@include b('mobile-menu')
	{
		transform: none;
		@include transition(all, 800ms);
		transition-delay: 0;

		@include e('inner')
		{
			@include transition(all, 500ms);
			transition-delay: 800ms;
			opacity: 1;
			transform: translateY(0);
		}
	}
}

@include b('mobile-menu')
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-bottom: 30px;
	z-index: 5;
	background: color(light-blue);
	padding-top: 145px;
	transform: translateY(-110%);
	@include transition(all, 800ms);
	transition-delay: 400ms;

	@include mobile
	{
		padding-top: 90px;
	}

	@include e('inner')
	{
		@include transition(all, 500ms);
		transition-delay: 0;
		opacity: 0;
		transform: translateY(-30px);
	}

	@include e("actions")
	{
		margin-bottom: 30px;

		a:first-child
		{
			margin-right: 10px;
		}
	}

	ul
	{
		li
		{
			margin-bottom: 5px;

			&.current_menu_item
			{
				position: relative;
				padding-left: 15px;

				&::before
				{
					content: '';
					width: 4px;
					height: 4px;
					background: color(black);
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					display: block;
					border-radius: 100%;
				}
			}

			a
			{
				text-decoration: none;
				color: color(black);
				@include font-size($h2-font-sizes);
			}

			.sub-menu
			{
				padding-left: 15px;
				padding-top: 7px;

				li
				{
					a
					{
						@include font-size($h3-font-sizes);
					}
				}
			}
		}
	}
}
