@include b('newsletter-popup')
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	padding: 30px 0;
	overflow-x: hidden;

	@include tablet-landscape
	{
		align-items: flex-start;
		padding: 40px 0;
	}

	@include mobile
	{
		padding: 20px 0;
	}

	&.active
	{
		pointer-events: auto;

		.newsletter-popup__background
		{
			transform: none;
			@include transition(all, 1.5s);
			transition-delay: 0;
		}

		.newsletter-popup__inner
		{
			opacity: 1;
			@include transition(all, 500ms);
			transition-delay: 1s;
		}
	}

	@include e('background')
	{
		position: fixed;
		left: 0;
		top: 0;
		width: 200%;
		height: 100%;
		z-index: 1;
		background: linear-gradient(to right, rgba(202, 214, 222, 0.8) 0%, rgba(202, 214, 222, 0.8) 50%, rgba(202, 214, 222, 0) 100%);
		@include transition(all, 1.5s);
		transition-delay: 300ms;
		transform: translateX(-100%);
	}

	@include e('inner-wrapper')
	{
		margin: auto;
	}

	@include e('inner')
	{
		background: #fafaf9;
		border-radius: 24px;
		padding: 70px 30px 50px;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 591px;
		align-items: center;
		margin: 0 auto;
		box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16);
		position: relative;
		z-index: 2;
		opacity: 0;
		@include transition(all, 800ms);
		transition-delay: 0;

		@include mobile
		{
			padding: 30px 20px;
		}

		&::before
		{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 4;
			background-color: #fafaf9;
			border-radius: 24px;
			@include transition(all, 600ms);
			opacity: 0;
			visibility: hidden;
		}

		&::after
		{
			content: '';
			position: absolute;
			width: 2rem;
			height: 2rem;
			border: 6px solid color(maroon);
			border-right-color: transparent;
			border-left-color: transparent;
			margin: auto;
			border-radius: 50%;
			animation: rotate-forever 1s infinite;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 6;
			@include transition(all, 600ms);
			opacity: 0;
			visibility: hidden;
		}

		.popup-trigger
		{
			position: absolute;
			right: 46px;
			top: 28px;
			width: 35px;
			height: 33px;
			background: url(../images/close.svg) no-repeat center;
			background-size: contain;
			display: block;
			@include transition(all, 500ms);

			&:hover
			{
				opacity: 0.7;
			}

			@include mobile
			{
				width: 20px;
				height: 20px;
				top: 20px;
				right: 20px;
			}
		}

		.newsletter-popup__errors
		{
			display: none;
			padding-top: 1rem;
			font-size: 1rem;
			font-weight: 700;
			text-decoration: underline;
		}
	}

	@include e('title')
	{
		text-align: center;

		h3
		{
			padding: 0 1em;
			margin-bottom: 13px;

			@include tablet-portrait
			{
				@include font-size($h2-font-sizes);
			}
		}
	}

	form
	{
		margin-top: 34px;
		margin-bottom: 50px;

		@include mobile
		{
			margin-top: 25px;
			margin-bottom: 30px;
		}

		span
		{
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			margin-top: 48px;

			@include mobile
			{
				flex-direction: column;
				align-items: center;
				margin-top: 0;
			}

			button
			{
				margin-right: 30px;
			}

			p
			{
				width: 50%;

				@include mobile
				{
					width: 100%;
					font-size: 11px;
					padding-top: 10px;
				}
			}
		}
	}

	@include e('login')
	{
		color: color(maroon);
		font-family: $body-font;
		font-weight: 500;

		a
		{
			color: color(maroon);
			font-family: $body-font;
			font-weight: 500;
			@include transition(all, 500ms);

			&:hover
			{
				opacity: 0.7;
			}
		}
	}
}

@keyframes rotate-forever
{
	0%
	{
		transform: rotate(0deg);
	}

	100%
	{
		transform: rotate(360deg);
	}
}

.loading
{
	@include b('newsletter-popup')
	{
		@include e('inner')
		{
			&::before
			{
				opacity: 0.75;
				visibility: visible;
			}

			&::after
			{
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

@include b('cta-popup')
{
	@extend .newsletter-popup;

	.popup-cta-trigger,
	.popup-quiz-trigger
	{
		position: absolute;
		right: 46px;
		top: 28px;
		width: 35px;
		height: 33px;
		background: url(../images/close.svg) no-repeat center;
		background-size: contain;
		display: block;
		@include transition(all, 500ms);

		&:hover
		{
			opacity: 0.7;
		}

		@include mobile
		{
			width: 20px;
			height: 20px;
			top: 20px;
			right: 20px;
		}
	}

	.content
	{
		p
		{
			@include mobile
			{
				width: 100%;
				font-size: 11px;
				padding-top: 10px;
			}
		}
	}

	.gform_wrapper form
	{
		@include mobile
		{
			margin-bottom: 0;
		}

		.gform_body
		{
			margin-bottom: 48px;

			@include mobile
			{
				margin-bottom: 0;
			}

			& > .gform_fields > .gfield
			{
				margin-bottom: 15px;

				input,
				select
				{
					border: 0;
					border-radius: 200px;
					background: color(white);
					padding: 13px 20px;
					display: block;
					width: 100%;
					font-family: $body-font;
					line-height: normal;
					@include transition(all, 500ms);
					font-size: 16px;

					@include mobile
					{
						font-size: 14px;
						padding: 9px 15px;
					}
				}
			}
		}
	}

	.gform_wrapper form .gform_footer .gform_button
	{
		@extend .button--orange;

		@include mobile
		{
			display: block;
			margin: 0 auto;
		}

		span
		{
			margin-top: 0;
		}
	}
}
